$tablet-width: 768px;
$desktop-width: 1024px;
$widescreen-width: 1216px;
$fullHD-width: 1408px;

//group1
//$orange: #DA9100;
//$white: #FFEBD8;
//$darkorange: #885A00;
//$lightorange: #FC4B23;

//group2
// $orange: #112f37;
// $white: #FFEBD8;
// $darkorange: #79443d;

//group3
$orange: #496780;
$white: #e0cfae;
$darkorange: #0d2d47;
$lightorange: #bcd8f0;
$brown: #ab866c;

$font-stack: 'Noto Sans TC', sans-serif;